@import url('https://googleapis.com');


* {
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;

}

.image .profile-card{
    height: 100%;
    width: 100%;
    
}
